:root {
  --color-black: #2c2c2c;
  --color-white: #ffffff;
  --color-green: #c6e7d4;
  --color-purple: #927cd2;

  --font-size-uitroepteken: clamp(6.5rem, calc(1rem + 11vw), 19rem);
  --font-size-h1: clamp(4.5rem, calc(1rem + 10vw), 15rem);
  --font-size-large-h1: clamp(3rem, calc(1rem + 8vw), 15rem);
  --font-size-mid-h1: clamp(1.5rem, calc(0.9rem + 4vw), 10rem);
  --font-size--intro: clamp(1.1rem, calc(0.9rem + 1.5vw), 5rem);
  --font-size-mid-intro: clamp(1.2rem, calc(0.9rem + 2vw), 5rem);
  --font-size-h2: 20px; /* nog aanpassen ! (voor responsive) */
  --fontsize-h2-span: clamp(2.2rem, calc(2.4rem + 14vw), 10rem);
  --font-size-h3: clamp(2rem, calc(1.3rem + 5vw), 6rem);
  --fontsize-h3-span: clamp(2.3rem, calc(1.8rem + 18vw), 10rem);
  --fontsize-h3-spanVerschil: clamp(2.3rem, calc(1.8rem + 15vw), 9rem);
  --font-size-h4: clamp(1.7rem, calc(1.4rem + 3vw), 9rem);
  --font-size--p: clamp(1rem, calc(0.9rem + 1vw), 1.2rem);
  --font-size--footer: clamp(1.1rem, calc(0.6rem + 0.5vw), 1.4rem);
  --font-size-instructies: clamp(1rem, calc(1rem + 1.55vw), 1.5rem);
  --font-size--button: clamp(1.2rem, calc(1rem + 2vw), 1.7rem);

  --font-weight-body-copy: 300;
  --font-weight-body-copy-title: 400;
}

/*Algemene styling*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: "halyard-display", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
}

p {
  font-size: var(--font-size--p);
  font-weight: var(--font-weight-body-copy);
  font-style: normal;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: var(--font-size-h1);
  color: var(--color-black);
  padding: 0.5vh 0 2vh;
  padding-left: 4vw;
  line-height: 0.95;
  border-bottom: var(--color-black) solid 1px;
}

h1 > span {
  color: var(--color-purple);
}

h2 {
  font-weight: var(--font-weight-body-copy-title);
  font-size: var(--font-size-h2);
}

h4 {
  font-weight: var(--font-weight-body-copy-title);
}

.uitroepteken {
  display: inline-block;
  font-family: "carbon", sans-serif;
  font-size: var(--font-size-uitroepteken);
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  font-style: normal;
  transform: rotate(7deg);
  margin-left: -2vw;
  position: relative;
  top: 3.75vw;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "halyard-display", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container,
#map,
.mapContainer {
  width: 80vw;
  height: 50vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}
.marker {
  cursor: pointer;
  padding: 2rem;
  position: relative;
}

.markerBloem {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.navbar__list {
  display: flex;
  gap: 2rem;
}

.markerBloem {
  object-fit: cover;
}

textarea {
  display: block;
  width: 50vw;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.markerKaart {
  background-color: aqua;
}
.infoWindow {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
}
.infoWindow > ul {
  color: black;
  max-height: 50px;
  overflow-y: scroll;
}

.infoWindow > ul > li {
  color: black;
  list-style: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/*Styling  mobile*/
.header__image {
  width: 100vw;
  height: auto;
}

.headerIntro > p {
  font-size: var(--font-size--intro);
}

.headerIntro {
  padding: 5.75vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
  border-bottom: #2c2c2c solid 1px;
}

.headerIntro > p {
  max-width: 75vw;
}

.button {
  font-size: var(--font-size--p);
  padding: 1.5vh 5vw;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: #2c2c2c 1px solid;
  background-color: var(--color-white);
  color: var(--color-black);
}

.button:hover .arrowButton {
  filter: invert(0%);
}

.arrowButton {
  width: 14px;
  height: auto;
  margin-right: 2vw;
  filter: invert(100%);
}

.homeBeeld2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5vh 0 0 4vw;
  align-items: end;
  gap: 5vw;
  margin-bottom: 5vh;
}

.homeBeeld2Title > h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "anton", sans-serif;
  font-size: var(--font-size-h2);
}

.homeBeeld2Title {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2vh;
}

.homeBeeld2Tekst {
  max-width: 77.5vw;
}

.homeBeeld2Tekst > p:nth-child(2) {
  padding: 3vh 0 5vh;
}

.tijdlijnLang {
  width: 20vw;
}

.tijdlijnFlex {
  display: flex;
  margin-left: 2.5vw;
  margin-right: 2vw;
  padding-top: 4vh;
}

.homeBeeld3 {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.homeBeeld3Item {
  border: #2c2c2c solid 1px;
  margin: -0.75vh 4vw 0;
}

.homeBeeld3Item > h3 {
  padding: 2vh 4vw;
  font-family: "anton", sans-serif;
  font-size: var(--font-size-h2);

  border-bottom: #2c2c2c solid 1px;
}

.homeBeeld3ItemTekst {
  padding: 2vh 4vw 7vh;
}

.homeBeeld3ItemTekst > h4 {
  font-family: "halyard-display", sans-serif;
  font-size: var(--font-size--p);
  padding: 4vh 0 0;
}

.homeBeeld3ItemTekst > .button {
  margin-top: 2vh;
}

.homeBeeld3ItemTekst > p {
  padding: 3vh 0 5vh;
  max-width: 77.5vw;
}

.tijdlijnImage {
  height: 10vh;
  width: auto;
  margin: 0 auto;
  display: block;
  z-index: 1;
}

.image20 {
  position: absolute;
  right: 0;
  margin-top: -5vh;
  z-index: 1;
  height: 22.5vh;
}

.image2023 {
  margin-top: -6vh;
}

.image2025 {
  height: 26vh;
  margin-top: -10vh;
}

.image2030 {
  height: 14vh;
  margin-top: -3vh;
  right: 8vw;
}

.homeBeeld3ItemTekst > p:nth-child(4) {
  padding: 7vh 0 0;
}

.homeBeeld33ItemTekst > p {
  padding-bottom: 0vh;
}

.homeEindbeeld {
  max-width: 85vw;
  text-align: center;
  display: block;
  margin: 7.5vh auto 0;
}

/*OVER ONS*/

.header-about {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: var(--color-black) solid 1px;
  border-top: var(--color-black) solid 1px;
  align-items: end;
}

.header-about__image--mobile {
  width: 50vw;
}

.header-about__image--desktop {
  display: none;
}

.header-about__title {
  text-transform: uppercase;
  border-bottom: none;
  font-size: 50px;
  z-index: 1;
  padding: 0;
  line-height: 0.8;
}

.uitroepteken--small {
  font-size: 85px;
}

.section-about h2 {
  padding-top: 3vh;
}

.section-about p {
  padding-top: 2vh;
}

.section-about p:nth-child(2) {
  padding-bottom: 5vh;
}

.section-about > p:nth-child(3) {
  padding-bottom: 5vh;
}

.section-about {
  padding: 3vh 4vw;
  gap: 2vh;
}

.image-about-2,
.image-about-3 {
  width: 100vw;
  height: auto;
}

.image-about-2 {
  margin-top: 5vh;
  border-top: var(--color-black) solid 1px;
  border-bottom: var(--color-black) solid 1px;
}

.image-about-3 {
  padding: 0 4vw;
  margin-top: 5vh;
}

/*FOOTER*/

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 4vh 4vw 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer__title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-body-copy-title);
}

.footer > * > p:nth-child(1) {
  padding: 2vh 0;
  border-bottom: #ffffff solid 1px;
  font-size: var(--font-size-mid-intro);
}

.footer > * > p:nth-child(2) {
  padding: 2vh 0;
  font-size: var(--font-size--p);
  max-width: 25vw;
  line-height: 1.5;
}

.footer__socials {
  padding: 2vh 5vw 0 0;
  width: 20vw;
}

.footerNav__list {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-size: var(--font-size--p);
  margin-bottom: 1vh;
}

.flex {
  display: flex;
  flex-direction: row;
}

.footerInfo {
  gap: 1vh;
  align-items: center;
  justify-content: space-between;
}

.footerInfo > img {
  width: 55vw;
  margin-right: -4vw;
  height: auto;
}

.footerInfo > * > p {
  font-size: var(--font-size--footer);
  line-height: 1.5;
}

.kortrijkLogo {
  width: 32vw;
  height: auto;
}

/*LOGIN*/

.zoekVeld {
  z-index: 10;
}

/* LOGIN PROFIEL */
.header__title--login > h1,
.mijnVerhalen__titel > h2,
.personalData__titel > h2 {
  font-size: var(--font-size-mid-h1);
  font-family: "halyard-display", sans-serif;
  padding: 0 0 0 4vw;
  color: var(--color-purple);
  border: none;
}

.header__title--login,
.profielLogin__titel,
.mijnVerhalen__titel,
.personalData__titel {
  gap: 5vw;
  margin-bottom: 3vh;
  align-items: center;
}

.header--profielLogin {
  padding: 5vh 0vw 0 0vw;
}

.header--profielLogin > p {
  max-width: 65vw;
  padding: 0 4vw;
}

.profielLogin__Niew > p {
  max-width: 45vw;
}

.form__input {
  font-size: var(--font-size--p);
}

form,
label {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.form--profielLogin {
  gap: 3.5vh;
  margin-top: 3vh;
  padding: 0 4vw;
}

.form__input > input[type="email"],
.form__input > input[type="password"] {
  padding: 1.5vh 3vw;
  border: #2c2c2c solid 1px;
  font-size: var(--font-size--footer);
  font-family: "halyard-display", sans-serif;
  font-weight: var(--font-weight-body-copy);
}

input[type="password"] {
  font-family: "helvetica", sans-serif;
  font-weight: 400;
}

.form--profielLogin > button {
  margin: 1vh 0 0;
}
.wwVergeten {
  font-size: var(--font-size--footer);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1vh;
}

.profielLogin__Niew {
  margin: 4vh 0 0;
  background: #2c2c2c;
  padding: 5vh 0 1vh 4vw;
  color: var(--color-white);
}

.profielLogin__titel > h2 {
  font-size: var(--font-size-h2);
}

.profielLogin__Niew > p {
  max-width: 45vw;
  margin-bottom: 6.5vh;
}

.button--white {
  border: 1px solid var(--color-black);
  color: #2c2c2c;
  background-color: var(--color-white);
}



.button--white > .arrowButton {
  filter: invert(0%);
}

.button--white:hover > .arrowButton {
  filter: invert(100%);
}

.button--white:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--color-white) solid 1px;
}

.login__eindbeeld {
  text-align: right;
  margin: 8.5vh 0 0 auto;
  max-width: 90vw;
  display: block;
}
/* PROFIEL*/

.header__titel--profiel {
  font-size: var(--font-size-large-h1);
  border: none;
  padding: 0;
}

.header--profiel {
  padding: 0 4vw;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.header__navigatie--profiel {
  display: none;
}

.header__titel--profiel > span {
  font-size: var(--font-size-h1);
  padding: 0 0 0 4vw;
  transform: rotate(7deg);
  margin-left: -5vh;
  position: relative;
  top: 2.5vh;
  rotate: 15deg;
}

.mijnVerhalen__list {
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
  padding: 0 4vw;
}

.list__item--mijnVerhalen {
  padding: 0 0 2vh;
  border-bottom: #2c2c2c solid 1px;
  display: flex;
  justify-content: space-between;
}

.item__titel--mijnVerhalen {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-body-copy-title);
  display: flex;
  gap: 2vw;
}

.item__titel--mijnVerhalen > h3,
.list__item--personalData > h3 {
  font-size: var(--font-size-mid-intro);
  font-family: "halyard-display", sans-serif;
}

.item__content--mijnVerhalen {
  max-width: 60vw;
}

.item__content--mijnVerhalen > p {
  font-size: var(--font-size--p);
  font-family: "halyard-display", sans-serif;
  font-weight: var(--font-weight-body-copy);
}

.item__titel--mijnVerhalen {
  margin-bottom: 1.75vh;
}

.item__change--mijnverhaal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item__date--mobile{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-size--footer);
}
.item__change--mijnverhaal > a > img,
.personalData__edit--mobile > img {
  width: 4vh;
  height: auto;
}

.locationIcon {
  width: 20px;
  height: auto;
}

.connectie {
  background-color: #2c2c2c;
  color: var(--color-white);
  padding: 3vh 4vw 0;
  margin: 8vh 4vw 5vh;
}

.connectie > h3 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-body-copy-title);
  margin-bottom: 2vh;
}

.connectie > p {
  max-width: 70vw;
  margin-bottom: 6vh;
}

.connectie__image {
  width: 60vw;
  height: auto;
  margin-top: -1vh;
  display: block;
  margin-left: auto;
}
.connectie > .button {
  position: relative;
  z-index: 5;
}

.personalData {
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;
  align-items: flex-start;
}
.personalData__list {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  padding: 0 4vw;
  margin-bottom: 6vh;
}

.item__date--desktop,
.item__link--desktop,
.personalData__edit--desktop {
  display: none;
}

/*Styling desktop*/

@media screen and (min-width: 1000px) {
  .button {
    padding: 1.5vh 2.6vw;
  }

  .form__input > input[type="email"],
  .form__input > input[type="password"] {
    width: 35vw;
    padding: 1.5vh 2vw;
  }

  .login__header > p {
    max-width: 30vw;
  }

  /*OVER ONS*/

  .image-about-2 {
    display: none;
  }

  .image-about-3 {
    width: 35vw;
    margin-top: -20vh;
    margin-left: 2vw;
  }

  .header-about__image--mobile {
    display: none;
  }

  .header-about__image--desktop {
    display: block;
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }

  .header-about {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: var(--color-black) solid 1px;
    border-top: var(--color-black) solid 1px;
  }

  .header-about__title {
    font-size: 100px;
    width: 50vw;
    padding-left: 9vw;
  }

  .uitroepteken--small {
    font-size: 120px;
  }

  .section-about {
    display: grid;
    grid-template-columns: 30vw 1fr;
    margin: 10vh 5vw 0;
  }

  .section-about h2 {
    font-size: 22px;
    max-width: 15vw;
  }

  .section-about p {
    width: 48vw;
  }

  .section-about p:nth-child(2) {
    margin-bottom: 5vh;
  }

  /*LOGIN*/

  form {
    align-items: start;
  }

  .login__header, .login__Niew{
    padding: 20vh 0vw 0 0vw;
    width: 50vw;
  }

  .profielLogin__Niew {
    padding: 20vh 0vw 0 4vw;
    width: 50vw;
  }

  .login__Niew > p {
    max-width: 20vw;
  }

  .login {
    display: flex;
  }

  .login__eindbeeld {
    margin: 8.5vh 0 0 auto;
    max-width: 40vw;
    display: block;
  }

  /*FOOTER*/

  .footer {
    padding-top: 8vh;
    display: grid;
    grid-template-columns: 20vw 20vw;
    column-gap: 8vw;
    padding-left: 8vw;
  }

  .footer__text {
    width: 10vw;
  }

  .footer p:nth-child(1) {
    font-size: 20px;
    font-weight: var(--font-weight-body-copy-title);
  }

  .footer__socials {
    display: flex;
  }

  .footer__socials img {
    width: 8vw;
  }

  .footer__socials a {
    width: 4vw;
  }

  .footerNav {
    display: none;
  }

  .footerInfo div {
    display: flex;
    width: 50vw;
  }
  .login__eindbeeld {
    margin: 8.5vh 0 0 auto;
    max-width: 40vw;
    display: block;
  }

  /*Profiel*/
  .profiel {
    display: flex;
    flex-direction: row;
  }

  .profiel__content {
    width: 65vw;
  }

  .header__titel--profiel > span {
    margin-left: -5vw;
  }

  .connectie > p {
    max-width: 22vw;
  }

  .item__date--desktop,
  .item__link--desktop,
  .personalData__edit--desktop {
    display: block;
  }

  .item__date--desktop {
    margin-top: 3vh;
  }

  .connectie__image {
    width: 30vw;
    height: auto;
    margin-top: -1vh;
    display: block;
    margin-left: auto;
    margin-right: 2vw;
  }

  .personalData {
    margin-right: 4vw;
  }

  .mijnVerhalen__list {
    display: flex;
    flex-direction: column;
    gap: 3.75vh;
    padding: 0 4vw;
  }

  .list__item--mijnVerhalen {
    padding: 0 0 6vh;
    border-bottom: #2c2c2c solid 1px;
    display: flex;
    justify-content: space-between;
  }

  .item__link--mobile,
  .item__date--mobile,
  .personalData__edit--mobile {
    display: none;
  }

  .item__titel--mijnVerhalen {
    gap: 1.5vw;
  }

  .item__titel--mijnVerhalen > h3,
  .list__item--personalData > h3 {
    font-size: var(--font-size-mid-intro);
    font-family: "halyard-display", sans-serif;
  }

  .item__content--mijnVerhalen {
    max-width: 25vw;
  }

  .item__content--mijnVerhalen > p {
    font-size: var(--font-size--p);
    font-family: "halyard-display", sans-serif;
    font-weight: var(--font-weight-body-copy);
  }

  .item__content--mijnVerhalen>p:last-child{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-size--footer);
}

  .item__titel--mijnVerhalen {
    margin-bottom: 3vh;
  }

  .profiel__content {
    margin-top: 25vh;
    margin-left: 5vw;
  }

  .connectie{
padding-top: 5vh;
  }

  .list__item--personalData>h3{
margin-bottom: 1vh;
  }

  .list__item--personalData{
    padding-bottom: 2vh;
  }

  .header__navigatie--profiel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-left: #2c2c2c solid 1px;
  }

  .header__navigatie--profiel > li {
    font-size: var(--font-size--p);
    font-weight: var(--font-weight-body-copy);
    text-decoration: none;
    color: var(--color-black);
        padding-left: 2vw;
        padding: 1vh 0 1vh 2vw;
  }

   .header__navigatie--profiel > li:first-child {
    z-index: 1;
   border-left: #927cd2 solid 4px;
  }



  

}
